*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




header{
   
    background-image: url(https://img.freepik.com/free-photo/close-up-hand-holding-smartphone_23-2149148857.jpg);
    background-size: cover;
    
    
    text-align: center;
    background-repeat: no-repeat;
    font-size: 30px;
    padding: 200px;
   
    
      

}

h1{
    color: white;
    
    text-shadow: 2px 2px 12px red;
    
}

nav{
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 20px; 
    width: 100%; 
    font-size: 20px;

          
}

a{
    text-decoration: none;
    color: red;
}

ul.list{
    list-style-type: none;   
    
}

li{
    display: inline;
    margin: 20px;
    
    
    
}

.a:hover{
     background-color:white;
     color: red;
     border-radius: 5px;
     padding: 5px;
     
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.box{
    width:350px;
    height: 500px;
    border: 3px  blue;
    border-radius: 20px;
    box-shadow: 0px 0px 30px blueviolet;
    margin-top: 75px;
    margin-bottom: 20px;
    padding: 5px;
}

.box:hover{
     background-color: bisque;
     margin-top: 2px;
     

}


p{
    text-align:center;
}

.box1{
    background-image: url(https://www.apple.com/newsroom/images/product/iphone/geo/Apple-iPhone-14-iPhone-14-Plus-hero-220907-geo.jpg.landing-big_2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 300px;
    height:350px;
    border: 2px solid black;
    margin: 40px 25px auto 25px ;
    padding: 20px;
    box-shadow: 5px 5px 3px gray;
}

h2{
    text-align: center;
} 
    
    


img{
    height: 200px;
    width: 300px;
    
    margin: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 5px grey;
    
    
}


input{
    width: 200px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(255,255, 255, 0.3);
    box-shadow: 5px 5px 0.3px rgba(255,255, 255, 0.3);
}

input::placeholder{
    font-weight: 800px;
    color:rgb(165, 153, 42);
    
    
}


button{
    padding: 1px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(116, 185, 194);
    cursor:pointer;
}

footer{
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: lightgray;
    
    
}

.footbox{
    width: 220px;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
   
}

.pbox{
    width: 275px;
    height: 75px;
    padding-right: 5px;
    margin-left: 5px;
   
}

img.special{
    height: 20px;
    width: 20px;
    
    
}

.wrappericon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content:center;
    margin-top: 30px;
    border-top: 2px solid black;
}





@media only screen and (max-width: 767px){
    header{
        
        padding: 50px;
        overflow: hidden;
        font-size: 18px;
        background-size: 500px;
        text-align: center;
        justify-content: center;
        background-size: cover;
        
    }
    h1{
        text-shadow: 0px 0px 5px red;
    }
    nav{

        padding: 10px;
        font-size: 10px;

    }
    li{
        margin: 10px
    }

    .wrapper{
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    }

    .box{
        padding: 5px;
        width: 300px;
        height: 550px;
        
        
      
    }

    img{
        width: 250px;
        height: 200px;
    }

    .box1{
        width: 250px;
        margin-left: 20px;
        margin-top: 50px;
        padding: 10px;
        background-position: 15%;

    }

    p{
        text-align: center;
        justify-content: center;
    }
}


    




  







    
